.card-img-top {
  width: 100px !important;
  height: 150px !important;
}

.card-img-top:hover {
  cursor: pointer;
}

.pick-custom-width {
  width: fit-content !important;
}

.card-custom-border {
  border-top: 1px solid var(--black);
  padding: 0;
}

.custom-test {
  position: absolute;
  width: 25% !important;
  right: 50px;
}

@media screen and (max-width: 1024px) {
  .staff-pick-container p {
    font-size: 0.7rem !important;
  }
  .card-img-top {
    width: 75px !important;
    height: 125px !important;
  }
}

@media screen and (max-width: 768px) {
  .staff-pick-container p {
    font-size: 0.7rem !important;
  }
  .custom-test {
    width: 100% !important;
    left: 0;
    display: none !important;
  }

  .card-img-top {
    width: 100px !important;
    height: 150px !important;
  }
}

@media screen and (max-width: 576px) {
  .custom-hide {
    display: none;
  }
}
