.card-img-top {
  width: 100px !important;
  height: 150px !important;
}

.card-img-top:hover {
  cursor: pointer;
}

.pick-custom-width {
  width: fit-content !important;
}

.card-custom-border {
  border-top: 1px solid var(--black);
}

.custom-test {
  position: absolute;
  width: 25% !important;
  right: 50px;
}

.test3 {
  margin-top: -200px !important;
}
