:root {
  --primary-color: #16151d;
  --background-color: #312f40;
  --secondary-bg-color: #23222e;
  --black: #000;
  --secondary-color: #913fe2;
  --white: #fff;
}

body {
  background-color: var(--primary-color) !important;
  font-family: "Roboto", sans-serif !important;
}

.nav-bg-primary {
  background-color: #0b0a0d;
}

.nav-bg-secondary {
  background-color: var(--secondary-color);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--secondary-color);
}

.navbar-top {
  height: 60px;
}

.navbar-bottom {
  height: 42px;
}

/*Carousel*/

.custom-carousel {
  width: max-content !important;
}

.custom-carousel img {
  height: 280px !important;
  width: 100vh !important;
  filter: blur(8px) !important;
  -webkit-filter: blur(8px) !important;
  overflow: hidden !important;
  opacity: 0.5 !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

/*Media Queries*/
@media (max-width: 768px) {
  #search {
    width: 50% !important;
  }
}

@media (max-width: 992px) {
  .navbar-top {
    background-color: var(--secondary-color);
  }
}
