:root {
  --primary-color: #16151d;
  --background-color: #312f40;
  --secondary-bg-color: #23222e;
  --black: #000;
  --secondary-color: #913fe2;
  --white: #fff;
}

body {
  background-color: var(--primary-color) !important;
  font-family: "Roboto", sans-serif !important;
}

.nav-bg-primary {
  background-color: #0b0a0d;
}

.nav-bg-secondary {
  background-color: var(--secondary-color);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--secondary-color);
}

.navbar-top {
  height: 60px;
}

.navbar-bottom {
  height: 42px;
}

/*Carousel*/

.custom-carousel {
  width: 619px !important;
  margin: 0 !important;
}

.custom-carousel img {
  height: 280px !important;
  width: 100vh !important;
  filter: blur(8px) !important;
  -webkit-filter: blur(8px) !important;
  overflow: hidden !important;
  opacity: 0.5 !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

main {
  width: 900px !important;
}

/*Trending image*/
.trending {
  position: inherit;
  margin-left: 630px;
  width: 220px !important;
  height: 280px;
  overflow: visible;
  background-image: url("https://images.unsplash.com/photo-1508830524289-0adcbe822b40?q=80&w=825&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-color: var(--black);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  opacity: 0.9;
  border-radius: 5px;
}

.trending-title {
  margin-top: -100px !important;
  color: red;
}

.trending a {
  margin-left: -24px !important;
}

/*Popular*/
.container-popular {
  width: 1024px !important;
  /* overflow-y: hidden; */
  padding-left: 5px !important;
}

.popGrid {
  height: 350px;

  background-color: #312f40;
  display: flex;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 5px;
}

.popH3 {
  position: relative;
  width: 100%;
  border-bottom: 1px solid gray;
  margin-bottom: -30px;
}

.popular {
  margin: 50px 5px;
  line-height: 0.5em;
}

.popular img:hover {
  /* filter: blur(1px); */
  opacity: 0.7;
}

/* //////////////////////RECOMMENDATIONS //////////////////////////////// */
.rec-container {
  /* position: absolute;
  
  border-radius: 5px; */
  background-color: #312f40;
  width: max-content !important;
}

.rec-img {
  width: 58px !important;
  height: 91.28px !important;
}

.btns-container-1 {
  /* margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 34px; */
}

.btns-container-2 {
  background-color: #808080;
}

.btn {
  padding: 0 0 !important;
  font-size: 0.8rem !important;
}

.btn:hover {
  cursor: pointer;
}

#dots {
  position: relative;
  width: 100px;
  margin: 0 270px;
  z-index: 440;
}

.rec {
  width: 297px;
  /* height: 78px; */
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #312f40;
  overflow: none;
  margin: 2px auto;
}

.custom-btm-border {
  border-bottom: 1px solid #b8b8b8;
}
.noBorder {
  border-bottom: none;
}

.genres {
  font-size: 12px !important;
}

.fa-star {
  font-size: 0.8em;
  color: gold;
}

.rec-title {
  font-size: 0.8rem;
  font-weight: 600;
}

a {
  color: white;
  text-decoration: none;
}

#weekly,
#monthly,
#all {
  background-color: gray;
}

#weekly:focus,
#monthly:focus,
#all:focus {
  background-color: var(--secondary-color);
}

/* ////////////////////////RECOMMENDATIONS END /////////////////////////// */

/*Media Queries*/
@media (max-width: 768px) {
  #search {
    width: 50% !important;
  }
}

@media (max-width: 992px) {
  .navbar-top {
    background-color: var(--secondary-color);
  }
  .rec-container {
  }
}
