.search-fs {
  font-size: 0.8rem !important;
  text-decoration: underline 1px solid #000;
}

.results-container {
  position: absolute !important;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  border-radius: 0 0 5px 5px;
}

.search-result {
  margin: 0 auto;
  border-top: 1px solid var(--white) !important;
}

.search-result p {
  text-decoration: underline;
}

.search-result:hover {
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .results-container {
    width: 40% !important;
  }
  .search-img {
    padding: 0;
  }
}
