:root {
  --primary-color: #4b0082;
  --background-color: #9575cd;
  --secondary-bg-color: #b19cd9;
  --black: #000;
  --secondary-color: #4b0082;
  --white: #fff;
}

.custom-custom-secondary-bg-color {
  background-color: var(--secondary-color) !important;
}

.custom-secondary-bg-color {
  background-color: var(--secondary-bg-color);
}

.custom-text-secondary {
  color: var(--secondary-color) !important;
}

.custom-primary {
  color: var(--primary-color) !important;
}
