.popularImg-overlay {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.custom-text-purple {
  color: var(--secondary-color) !important;
}

.popular-card-container {
  cursor: pointer;
}

@media (max-width: 576px) {
  .custom-sm {
    width: 50% !important;
  }
  .custom-hidden {
    display: none !important;
  }
}

.link-reset {
  color: inherit; /* Make the link color the same as the parent text color */
  text-decoration: none; /* Removes underline */
  background-color: transparent; /* Ensures no background color */
  outline: none; /* Removes focus outline */
  cursor: pointer; /* Ensures it looks clickable */
  border: none; /* Removes any borders */
}
